* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    height: max-content;
    margin-top: 90px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    box-shadow: 15px 15px 10px rgba(17, 17, 17, 0.39);
}

.mode button {
    padding: 20px 50px;
    border-radius: 20px;
    margin: 10px 0;
}

.display {
    width: 65%;
}

.display #screen {
    width: 100%;
    padding: 15px 0;
    font-size: 30px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background-color: white;
    border-radius: 10px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.btns .btn-all {
    width: 95%;
}

.btns .btn-all div {
    width: 100%;
}

.btn-i {
    width: 5%;
}

.btn-i button {
    height: 175px !important;
    padding: 10px !important;
    border-radius: 5px !important;
}

.eval {
    background-color: rgb(255, 255, 255) !important;
    color: blueviolet !important;
    box-shadow: 4px 4px 30px rgba(137, 43, 226, 0.466) !important;
}

.eval:active {
    background-color: blueviolet !important;
    color: white !important;
}

.num {
    background-color: white !important;
    color: blueviolet !important;
    box-shadow: 0 5px 10px blueviolet !important;
}
.num:active {
    background-color: blueviolet !important;
    color: white !important;
}

.btns div button {
    padding: 3px 7px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 2px 10px; 
    border-radius: 30%;
    background-color: blueviolet;
    color: white;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.322);
}

.btns div button:active {
    background-color: white;
    color: blueviolet;
}

.btns img {
    width: 15px;
}

@media screen and (max-width:319px) {
    .container {
        width: 200px;
    }

    .btns button {
        padding: 10px !important;
        width: 25px !important;
        font-size: 10px !important;
        margin: 0px !important;
    }

    .mode button {
        padding: 5px 10px;
    }
    .btn-i button {
        height: 100px !important;
        padding: 0px !important;
        border-radius: 5px !important;
        width: 25px !important;
        margin: 0 3px !important;

    }
    .display #screen {
        font-size: 15px;
    }
}

@media screen and (min-width:320px) and (max-width:400px) {
    .container {
        width: 250px;
    }
    
    .btns button {
        padding: 10px !important;
        width: 40px !important;
        font-size: 10px !important;
        margin: 0px !important;
    }
    .display #screen {
        font-size: 20px;
    }
    .mode button {
        padding: 10px 20px;
    }
    .btn-i button {
        height: 75px !important;
        padding: 0px !important;
        border-radius: 5px !important;
        width: 35px !important;
        margin: 0 3px !important;

    }
    
}

@media screen and (min-width:401px) and (max-width:600px) {
    .container {
        width: 350px;
        height: max-content;

    }
    .btns {
        justify-content: flex-start !important;
    }
    .display #screen {
        font-size: 25px;
    }
    .btns button {
        padding: 10px !important;
        font-size: 15px !important;
        width: 50px !important;
        border: none;
        outline: none;
        margin: 5px 5px !important;
        border-radius: 4px;

    }

    .mode button {
        padding: 20px 30px;
        border-radius: 20px;
        margin: 10px 0;
    }
    .btn-i button {
        height: 130px !important;
        padding: 10px !important;
        border-radius: 5px !important;
    }
}

@media screen and (min-width:601px) and (max-width:800px) {
    .container {
        width: 500px
    }
    .btns button {
        width: 60px !important;
}
.btn-i button {
    height: 100px !important;
}
}
@media screen and (min-width:801px) and (max-width:1000px) {
    .container {
        width: 600px;
    }
    .btns button {
        width: 70px !important;
}
}

@media screen and (min-width:1001px) {
    .container {
        width: 700px;
    }
    .btns button {
        width: 70px !important;
        padding: 20px !important;
        font-size: 16px !important;
}
}